body, *
{
    direction: rtl;
    font-family: 'Cairo', sans-serif;
}

.nav-md .container.body .right_col 
{
    margin-right: 230px;
    margin-left: 0;
}


.main_container .top_nav 
{
    margin-right: 230px;
    margin-left: 0;
}


.top_nav .navbar-right li
{
    float: left;
}

.toggle 
{
    float: right;
}

.nav-sm .container.body .right_col,
.nav-sm .main_container .top_nav
{
    margin-right: 70px;
    margin-left: 0;
}

.navbar-nav .open .dropdown-menu
{
    position: absolute;
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: translate3d(0px, 17px, 0px);
}


.active a span.fa 
{
    text-align: left !important;
}

.main_menu span.fa 
{
    float: left;
}

@media (min-width: 992px)
{
    footer 
    {
        margin-right: 230px;
        margin-left: 0;
    }
}

.site_title 
{
    padding-right: 10px;
}

.page-title .title_left
{
    float: right !important;
}

.pull-right {float: left;}
.pull-left {float: right;}
.nav-sm ul.nav.child_menu
{
    right: 100%;
    left: auto;
}

.nav.side-menu > li.current-page, .nav.side-menu > li.active ,
.nav-sm .nav.child_menu li.active, .nav-sm .nav.side-menu li.active-sm
{
    border-left: 5px solid #1ABB9C;
    border-right: 0;
}

.nav-sm footer 
{
    margin-right: 70px;
    margin-left: 0;
}